@property --angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 90deg;
}

:host {
  --angle: 90deg;
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-weight: 600;
  transition:
    opacity 0.3s ease,
    background 0.3s ease;
}
:host.primary {
  background:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(var(--angle), var(--orange-red) 0%, var(--vivid-pink) 50%, var(--electric-violet) 100%) border-box;
  color: var(--primary-contrast);
}
:host.warn {
  background:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(var(--angle), var(--hot-red) 0%, var(--hot-red) 50%, var(--hot-red) 100%) border-box;
  color: var(--hot-red);
}

:host:hover {
  animation: spin-gradient 4s linear infinite forwards;
  opacity: 0.8;
}
:host.primary:hover {
  background:
    var(--soft-pink-radial-gradient) padding-box,
    linear-gradient(var(--angle), var(--orange-red) 0%, var(--vivid-pink) 50%, var(--electric-violet) 100%) border-box;
}
:host.warn:hover {
  background:
    var(--soft-red-radial-gradient) padding-box,
    linear-gradient(var(--angle), var(--hot-red) 0%, var(--hot-red) 50%, var(--hot-red) 100%) border-box;
}

:host:active {
  opacity: 1;
}

@keyframes spin-gradient {
  0% {
    --angle: 90deg;
  }
  100% {
    --angle: 450deg;
  }
}
