@if(habitTasks().length === 0) {
<li>There are no habits.</li>
} @else {
<div class="habit-tasks-table">
  <header class="headers">
    <div class="header">Date</div>
    @for (header of headers(); track header.id) {
    <div class="header">{{header.name}}</div>
    }
  </header>
  <div class="data">
    @for (habitTask of sortedHabitTasks(); track habitTask.date.toISO()) {
    <div class="row">
      <div class="cell">{{habitTask.date | habitTasksDate}}</div>
      @for (habitTask of habitTask.tasks; track habitTask.habit.id) {
      <div class="cell"><input type="checkbox" [value]="habitTask.done" /></div>
      }
    </div>
    }
  </div>
</div>
}

<a app-button [routerLink]="'create'" text="Create Habit">Create Habit</a>
