:host {
  display: block;
}

.habit-tasks-table {
  margin-bottom: 24px;
  display: grid;
  grid-template-rows: auto auto;
}

.headers {
  border-bottom: 1px solid var(--gray-100);
}

.header a {
  color: var(--on-background-color);
  text-decoration: none;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.headers,
.data {
  padding: 12px 0;
}

.headers,
.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-template-rows: 1fr;
}

.headers > .header,
.row > .cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headers .header:first-child,
.row .cell:first-child {
  justify-content: flex-start;
}
