<section>
  <header>
    <h1>Login</h1>
  </header>
  <form aria-label="login form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-input
      label="Email"
      type="email"
      formControlName="email"
      autocomplete="username"
      [error]="emailErrorMessage"
    ></app-input>
    <app-form-field-input
      label="Password"
      type="password"
      required
      autocomplete="current-password"
      [control]="form.controls.password"
      [error]="passwordErrorMessage"
    ></app-form-field-input>
    <button app-button type="submit">Submit</button>
  </form>
</section>
