<section>
  <header>
    <h1>Login</h1>
  </header>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-form-field>
      <label app-form-field-label
        >Email
        <input
          app-form-field-input
          required
          formControlName="email"
          type="email"
          autocomplete="username"
          [attr.data-touched]="email?.touched || email?.dirty"
        />
      </label>
      @if(hasEmailError() && email?.errors?.["required"]) {
      <p app-form-field-error>Campo obligatorio</p>
      } @if(hasEmailError() && email?.errors?.["email"]) {
      <p app-form-field-error>Dirección de correo electrónico no válida</p>
      }
    </app-form-field>
    <app-form-field>
      <label app-form-field-label
        >Password
        <input
          app-form-field-input
          required
          formControlName="password"
          type="password"
          autocomplete="current-password"
          [attr.data-touched]="password?.touched || password?.dirty"
        />
      </label>
      @if(hasPasswordError() && password?.errors?.["required"]) {
      <p app-form-field-error>Campo obligatorio</p>
      }
    </app-form-field>
    <button app-button type="submit">Submit</button>
  </form>
</section>
